{% extends 'my_app/base.html' %}
{% load crispy_forms_tags %}

{% block main-content %}
<div class="container">
  <div class="row">
      <div class="col-10 m-auto">
          <form method="POST">
              {% csrf_token %}
              <div><h3>Class Create Form</h3></div>
              {{ form|crispy }}
                <div class="mt-4">
                    <button class="btn btn-sm btn-outline-info" type="submit">Post</button>
              <a href="{% url 'homepage' %}" class="btn btn-sm btn-outline-secondary">Home</a>
                </div>
              
          </form>

      </div>

  </div>

</div>

{% endblock main-content %}