{% extends 'my_app/base.html' %}

{% block main-content %}

<div class="container">
    {% if messages %}
    {% for message in messages %}
    <div style="background-color: green; border-radius: 20px;" class="col-4 m-auto">
        <div class="p-4">
            {{message}}
        </div>
    </div>
    {% endfor %}
    {% endif %}
    <div class="row">

        <div class="col-10 ">

            <div class=" m-1 p-3 mb-2" style="border-radius: 20px; background-color: #dee6ec;">
                <h3> Username: {{main_user.username}}</h3>
                <div> Email: {{main_user.email}}</div>
                <button type="button" class="btn btn-primary">
                    Posts <span class="badge badge-light">{{posts_count}}</span>
                  </button>
                
            </div>

           

        </div>
        
    </div>

</div>

{% endblock main-content %}

{% block side-content %}
    <div class="bg-light col-10 m-4 p-3 mb-2 rounded">
        <h3>Side Bar</h3>
        <p>Most recent post</p>
        
    </div>

{% endblock side-content %}
